<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title></title>
    <script src="../Scripts/knockout-3.0.0.debug.js"></script>
    <script src="./WebView.js"></script>
</head>
<body >
    <!--<form data-bind="submit: addItem">-->
        Name:
        <input data-bind='value: CustName' />    
    Num:
        <input data-bind='value: CustNum' />
        <!--<button type="submit" data-bind="enable: itemToAdd().length > 0">Add</button>
        <p>Your items:</p>
        <select multiple="multiple" width="50" data-bind="options: items"> </select>-->
    <!--</form>-->
    <div id="result" class="box"></div>
</body>
</html>